<div class="ferramentas-control">
	
   <h1 class="page-title"><i class="fa fa-plus" aria-hidden="true"></i> Editar Ferramenta</h1>
  
  <div class="control">   
    <div class="control-left">
        Descrição*:
    </div>
      <div class="control-right">
        <input type="text" placeholder="ex: Alicate de Corte" class="input-control" ng-model="ferramenta.descricao" required> 
    </div>
  </div>

   <div class="control">   
    <div class="control-left">
        Fabricante*:
    </div>
      <div class="control-right">
        <input type="text" placeholder="ex: Fabrics" class="input-control" ng-model="ferramenta.fabricante" required>
    </div>
  </div>

   <div class="control">   
    <div class="control-left">
        Valor*:
    </div>
      <div class="control-right">
        <input type="text" placeholder="ex: 999,99" class="input-control" ng-model="ferramenta.valor" required>
    </div>
  </div>
  
   <div class="control-form-button">
      <a href="#!/administracao/ferramentas/gerenciar"><button><span><i class="fa fa-ban" aria-hidden="true"></i>Cancelar</span></button></a>

     <button ng-click="excluir()"><span><i class="fa fa-close" aria-hidden="true"></i> Excluir</span></button>
     <button ng-click="salvar()"><span><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</span></button>
  </div>

</div>

</div>