.view.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}

.view.ng-enter.ng-enter-active {
  opacity:1;
}

.msg-empty {
    width: 100%;
	height: 100%;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold; 
}

.msg-empty i {
    font-size: 160%;
    margin: 10px;   
}

.page-title {
   font-size: 16px;
   margin-bottom: 35px;
   opacity: 0.6;
}

.input-control {
     width: 300px;
     margin: 5px;
     padding: 8px;
     font-size: 14px;
     border: none;
     border-bottom: solid 1px #cdcdcd;
     color: #777;
     background: transparent;
 }
 .input-control:focus {
     outline: none;
     transition: all 0.4s;
     border-bottom-color: #888;
 }
 .input-control::placeholder {
     opacity: 0.4;
 }
 .control {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 5px;
 }
 .control-left {
     width: 100px;
     text-align: right;
     padding-right: 10px;
     color: #777;
     font-size: 14px;
     font-weight: bold;
 }
 .control-form-button button {
    background: rgba(0, 0, 0, 0.02);
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    color: #888;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
.control-form-button button:hover {
    transition: all 0.3s;
    color: #555;
    background: rgba(0, 0, 0, 0.1);
}
.control-form-button button span {
    display: flex;
    align-items: center;
}
.control-form-button button i {
    padding-right: 5px;
}
.control-form-button button:nth-child(1) i {
    padding-left: 5px;
}
.control-form-button button:nth-child(2) i {
    padding-right: 5px;
}






/*FAST STYTLES*/

    .emprestimo {        
        color: rgba(0,0,0,0.7);
        margin: 10px;
        background: #FFF;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 2px 2px 2px #cdcdcd;
        cursor: pointer;
        width: 45%;
        float: left;
        cursor: pointer;
        transition: all 0.2s;
    }

    .emprestimo:hover {
        box-shadow: 8px 8px 8px #cdcdcd;
    }

    .gerenciar-emprestimos a{
        color: #999;
    }


        .ferramenta {        
        color: rgba(0,0,0,0.7);
        margin: 10px;
        background: #FFF;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 2px 2px 2px #cdcdcd;
        cursor: pointer;
        width: 45%;
        float: left;
        cursor: pointer;
        transition: all 0.2s;
    }

    .ferramenta:hover {
        box-shadow: 8px 8px 8px #cdcdcd;
    }

    .gerenciar-ferramentas a{
        color: #999;
    }