body {
	margin: 0px;
	background: #F0F0F0;
	font-family: 'Droid Sans', sans-serif;
	color: #333;
}

.main {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.box-login {
	background: #FFF;
	width: 50%;
	text-align: center;
	padding: 50px;
	border-radius: 15px;
	border: solid 1px #E3E3E3;
	box-shadow: 2px 2px 2px #E3E3E3;
}

.box-login span {
	display: block;
}

.login-header {
	margin-top: 15px;
}

.elmo-title {
	font-weight: bold;	
	font-size: 20px;
}

.elmo-slogan {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

.login-row {
	padding: 5px;
}

.login-row input{
	background: transparent;
	border: none;
	border-bottom: solid 1px #CDCDCD;
	font-size: 14px;
	padding: 5px;
	width: 90%;
	color: #333;
}

.login-row input:focus {
	outline: none;
	transition: all 0.4s;
	border-bottom-color: #5E5E5E;
}

.login-buttons button {
	width: 200px;
	height: 40px;
	background: #444;
	color: #fff;
	border-radius: 100px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	margin: 30px;
}

.login-buttons button:hover {
	background: #222;
	transition: all 0.2s;
}

.menu {
	width: 100%;
}

.menu-box {
	background: #FFF;
	width: 80%;
	padding: 20px;
	border-radius: 10px;
	border: solid 1px #E3E3E3;
	box-shadow: 2px 2px 2px #E3E3E3;
	height: 150px;
	margin: auto;
	margin-bottom: 20px;
	
}

.menu-box-title {
	font-weight: bold;
	margin: -5px;
	font-size: 14px;
	opacity: 0.5;
}

.menu-header {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.menu-item {
	border: solid 1px;
	display: block;
	text-align: center;
	background: #FFF;
	text-decoration: none;
	color: #5A5A5A;
	border: solid 1px rgba(0,0,0,0.2);
	border-radius:3px;
	width: 115px;
	padding: 8px;
	margin: 8px;
}

.menu-header-title {
   position: fixed;
   left: 0px;
   top: 0px;
   height: 30px;
   width: 100%;
   background: rgba(0,0,0,0.3);
   display: flex;
   align-items: center;
   font-size: 14px;
   color: #FFF;
   font-weight: bold;
   padding-left: 30px;
}

/*Novo Usuário Styles*/
 .usuarios-control {
     text-align: center;
 }
 .page-title {
     font-size: 16px;
     margin-bottom: 35px;
     opacity: 0.6;
 }
 .input-control {
     width: 300px;
     margin: 5px;
     padding: 8px;
     font-size: 14px;
     border: none;
     border-bottom: solid 1px #cdcdcd;
     color: #777;
     background: transparent;
 }
 .input-control:focus {
     outline: none;
     transition: all 0.4s;
     border-bottom-color: #888;
 }
 .input-control::placeholder {
     opacity: 0.4;
 }
 .control {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 5px;
 }
 .control-left {
     width: 100px;
     text-align: right;
     padding-right: 10px;
     color: #777;
     font-size: 14px;
     font-weight: bold;
 }
 .switch-main {
 	width: 310px; 
 	text-align: left;
 }
 .switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 25px;
 }
 .switch input {
     display: none;
 }
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
 }
 .slider:before {
     position: absolute;
     content: "";
     height: 17px;
     width: 18px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
 }
 input:checked + .slider {
     background-color: #777;
 }
 input:focus + .slider {
     box-shadow: 0 0 1px #777;
 }
 input:checked + .slider:before {
     -webkit-transform: translateX(24px);
     -ms-transform: translateX(24px);
     transform: translateX(24px);
 }
 .slider.round {
     border-radius: 25px;
 }
 .slider.round:before {
     border-radius: 50%;
 }
 .control-form-user-button {
    width: 100%;
    margin-top: 50px;
    margin-left: 30px;
}
.control-form-user-button button {
    background: rgba(0, 0, 0, 0.02);
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    color: #888;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
.control-form-user-button button:hover {
    transition: all 0.3s;
    color: #555;
    background: rgba(0, 0, 0, 0.1);
}
.control-form-user-button button span {
    display: flex;
    align-items: center;
}
.control-form-user-button button i {
    //font-size: 20px;
    padding-right: 5px;
}
.control-form-user-button button:nth-child(1) i {
    padding-left: 5px;
}
.control-form-user-button button:nth-child(2) i {
    padding-right: 5px;
}